body {
  background-color: black;
  color: white;
  font-family: 'VT323', monospace;
  margin: 0 auto;
  height: 100vh;
  font-size: 32px;

  .gameBoardContainer{
    width: 1440px;  // TO CHECK AGAIN
    margin: 0 auto;
    height: 100%;

    header{

      margin: 30px 20px;
      display: flex;
      justify-content: space-between;
    }

    main{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;


      section{
        margin: 10px auto;
        width: 50%;
        text-align: center;

        &.topSection{
          height: 200px;
          //background-color: black;
          line-height: 200px;
          margin-top: 50px;

        }

        &.middleSection{
          height: 80px;
          //background-color: black;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;

          p{
            //margin-left: 20px;
            //text-align: center;
          }

          img{


            }
        }

        &.bottomSection{
          height: 200px;
          //background-color: black;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .arrowButton{
            animation: pulsating 0.5s linear alternate infinite;

            .goButton{
              animation: pulsating 0.5s linear alternate infinite;
              border: black;
              background-color: black;
              color: white;
              font-family: 'VT323', monospace;
              font-size: 32px;
              outline:0;
            }
          }
        }
      }

      .mainGrid{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .square{
          height: 75px;
          width: 75px;
          //background-color: pink;
          //border: 1px black solid;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;

          img{
            position: absolute; //so that Mario can move when hit by ennemy

              &.marioLost{
                animation: moveUpAndDown 3s linear;
              }

              &.coin{
                animation: moveDown 400ms linear;
              }

              &.ennemy{
                animation: moveDown 200ms linear;
              }

              // &.mario{
              //   animation: move 200ms linear;
              // }
          }

        }
      }
    }
    footer{

    }
  }
}

@-webkit-keyframes moveUpAndDown{
    0%  {top: 0;}
    20%  {top: 0;}
    50% {top: -300px;}
    100% {top: 300px;}
}

@-webkit-keyframes pulsating{
    0%  {color: white;}
    100% {color: black;}
}

@-webkit-keyframes moveDown{
  0%  {top: -35px;}
  50% {top: 0px;}
  100% {top: 35px;}
}
